*.jlc
*.la
*.lo
*.o
DOC
Makedefs
Makefile
NEWS
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
data/sawfish.pc
doc/FAQ
doc/USERDOC
install-sh
libtool
lisp/Makefile
lisp/sawfish/cfg/Makefile
lisp/sawfish/cfg/main.jl
lisp/sawfish/gtk/Makefile
lisp/sawfish/gtk/widgets/font.jl
ltmain.sh
m4/
man/*.gz
man/Makefile
man/sawfish.info*
po/*.mo
po/Makefile
sawfish-*.ebuild
sawfish.spec
scripts/Makefile
scripts/sawfish-about.jl
sounds/Makefile
src/.*.d
src/.libexec/
src/.libs/
src/Makefile
src/build.h
src/gtk-style
src/sawfish
themes/*.tar.gz
