[Desktop Entry]
Name=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Name[no]=Sawfish
Name[sv]=Sawfish
Exec=sawfish
TryExec=sawfish
Terminal=false
MultipleArgs=false

[Window Manager]
ConfigExec=sawfish-ui
SessionManaged=true
