[Desktop Entry]
Name=Sawfish
Name[el]=Ðñéïíüøáñï (Sawfish)

Exec=sawfish
TryExec=sawfish

Terminal=false
NoDisplay=true

ConfigExec=sawfish-ui
ConfigTryExec=sawfish-ui

X-GNOME-WMName=Sawfish
X-GNOME-Autostart-Notify=true
