[Desktop Entry]
Type=Application
Name=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Exec=sawfish
X-KDE-WindowManagerConfigure=sawfish-config
X-KDE-WindowManagerRestartArgument=--replace
