[Desktop Entry]
Name=Sawfish
Exec=sawfish
TryExec=sawfish
Terminal=false
MultipleArgs=false

[Window Manager]
ConfigExec=sawfish-ui
SessionManaged=true
