[Desktop Entry]
Name=Sawfish
Name[cs]=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Name[no]=Sawfish
Name[da]=Sawfish
Name[sk]=Sawfish
Name[sl]=Sawfish
Name[sv]=Sawfish
Exec=sawfish
TryExec=sawfish
ConfigExec=sawfish-ui
Terminal=false
MultipleArgs=false

[Window Manager]
SessionManaged=true
