[Desktop Entry]
Name=Sawfish
Name[cs]=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Name[no]=Sawfish
Name[da]=Sawfish
Name[sk]=Sawfish
Name[sl]=Sawfish
Name[sv]=Sawfish
Type=Application
Exec=sawfish
TryExec=sawfish
Terminal=false
X-GNOME-WMName=Sawfish
ConfigExec=sawfish-ui
ConfigTryExec=sawfish-ui

[Window Manager]
SessionManaged=true
