[Desktop Entry]
Name=Sawfish
Name[el]=Πριονόψαρο (Sawfish)

Exec=sawfish
TryExec=sawfish

Terminal=false
NoDisplay=true

ConfigExec=sawfish-config
ConfigTryExec=sawfish-config

X-GNOME-WMName=Sawfish
X-GNOME-Autostart-Notify=true
