[Desktop Entry]
Name=Sawmill
Name[ko]=¼Ò¹Ð
Exec=sawmill 
Terminal=false
MultipleArgs=false

[Window Manager]
ConfigExec=sawmill-ui
SessionManaged=true
