[Desktop Entry]
Name=Appearance
Name[da]=Udseende
Name[es]=Apariencia
Name[gl]=Aparencia
Comment=Configure window appearance
Comment[da]=Indstil vinduesudseende
Comment[es]=Configura la apariencia de las ventanas
Comment[gl]=Configura-la aparencia das fiestras
Exec=sawmill-capplet --sawmill-group=appearance
Icon=
Terminal=0
Type=Application
