[Desktop Entry]
Name=Appearance
Comment=Configure window appearance
Exec=sawmill-capplet --sawmill-group=appearance
Icon=
Terminal=0
Type=Application
