[Desktop Entry]
Name=Shortcuts
Name[da]=Genveje
Comment=Configure key shortcuts
Comment[da]=Indstil tastaturgenveje
Exec=sawmill-capplet --sawmill-group=bindings
Icon=
Terminal=0
Type=Application
