[Desktop Entry]
Name=Focus behavior
Name[da]=Fokusopførsel
Name[es]=Comportamiento del foco
Name[gl]=Comportamento do foco
Comment=Configure window focusing
Comment[da]=Indstil vinduesfokusering
Comment[es]=Configurar la política del foco
Comment[gl]=Configura-lo xeito de enfoca-las fiestras
Exec=sawmill-capplet --sawmill-group=focus
Icon=
Terminal=0
Type=Application
