[Desktop Entry]
Name=Focus behavior
Name[da]=Fokusopfψrsel
Name[de]=Fokusverhalten
Name[el]=Συμπεριφορά εστίασης
Name[es]=Comportamiento del foco
Name[fi]=Kohdistus
Name[fr]=Comportement du focus
Name[gl]=Comportamento do foco
Name[it]=Focus
Name[ja]=₯Υ₯©‘Ό₯«₯ΉΖ°Ίξ
Name[ko]=ΓΚΑ‘ Ηΰ΅Ώ
Name[no]=Fokusoppfψrsel
Name[pl]=Aktywacja
Name[pt_BR]=Comportamento do foco
Name[tr]=Fokόsleme
Comment=Configure window focusing
Comment[da]=Indstil vinduesfokusering
Comment[de]=Fensterfokus konfigurieren
Comment[el]=Ρυθμίζει την συμπεριφορά της εστίασης των παραθύρων
Comment[es]=Configurar la polνtica del foco
Comment[fi]=Kohdistukseen liittyvδt asetukset
Comment[fr]=Configure la politique de focus
Comment[gl]=Configura-lo xeito de enfoca-las fiestras
Comment[it]=Configura l'assegnamento del focus alle finestre
Comment[ja]=₯¦₯€₯σ₯Ι₯¦₯Υ₯©‘Ό₯«₯Ή€ΞΐίΔκ
Comment[ko]=Γ’ ΐΤ·Β ΓΚΑ‘ Ό³Α€
Comment[no]=Konfigurιr fokusering av vinduer
Comment[pl]=Konfiguracja aktywacji
Comment[pt_BR]=Configura o comportamento do foco
Comment[tr]=Pencere fokόslemesini ayarla
Exec=sawfish-capplet --sawfish-group=focus
Icon=sawfish-focus.png
Terminal=0
Type=Application
