[Desktop Entry]
Name=Focus behavior
Name[da]=Fokusopførsel
Comment=Configure window focusing
Comment[da]=Indstil vinduesfokusering
Exec=sawmill-capplet --sawmill-group=focus
Icon=
Terminal=0
Type=Application
