[Desktop Entry]
Name=Minimizing Windows
Name[da]=Vinduesminimering
Name[es]=Minimizar ventanas
Name[gl]=Minimiza-las Fiestras
Name[ja]=它奶件玉它瘉凝祭
Comment=Configure window minimization (iconification)
Comment[da]=Indstil vinduesminimering (ikonificering)
Comment[es]=Configurar la minimizaci鏮 de ventanas
Comment[gl]=Configura-la minimizaci鏮 das fiestras
Comment[ja]=它奶件玉它瘉凝祭及澀爛
Exec=sawmill-capplet --sawmill-group=iconify
Icon=
Terminal=0
Type=Application
