[Desktop Entry]
Name=Minimizing Windows
Name[da]=Vinduesminimering
Comment=Configure window minimization (iconification)
Comment[da]=Indstil vinduesminimering (ikonificering)
Exec=sawmill-capplet --sawmill-group=iconify
Icon=
Terminal=0
Type=Application
