[Desktop Entry]
Name=Minimizing Windows
Name[da]=Vinduesminimering
Name[es]=Minimizar ventanas
Name[gl]=Minimiza-las Fiestras
Name[ja]=¥¦¥¤¥ó¥É¥¦ºÇ¾®²½
Name[fr]=Icônification
Comment=Configure window minimization (iconification)
Comment[da]=Indstil vinduesminimering (ikonificering)
Comment[es]=Configurar la minimización de ventanas
Comment[gl]=Configura-la minimización das fiestras
Comment[ja]=¥¦¥¤¥ó¥É¥¦ºÇ¾®²½¤ÎÀßÄê
Comment[fr]=Configure la minimisation des fenêtres
Exec=sawmill-capplet --sawmill-group=iconify
Icon=
Terminal=0
Type=Application
