[Desktop Entry]
Name=Matched Windows
Comment=Configure window properties
Exec=sawmill-capplet --sawmill-group=match-window
Icon=
Terminal=0
Type=Application
