[Desktop Entry]
Name=Minimizing and Maximizing
Name[da]=Vinduesmaksimering
Name[de]=Verkleinern und vergrv_ern
Name[el]=Lecistopo_gsg $(Bja(Bi $(BEkawistopo_gsg(B
Name[es]=Maximizar ventanas
Name[fi]=Pienennys ja suurennus
Name[fr]=Maximisation des fenjtres
Name[gl]=Maximiza-las Fiestras
Name[hu]=Ablakok minimalizalasa/maximalizalasa
Name[it]=A icona/Ingrandisci
Name[ja]=:GBg2=/:G>.2=
Name[ko]=CV<RH-?M CV4kH-
Name[no]=Minimering og maksimering
Name[pl]=Minimalizacja/maksymalizacja
Name[pt_BR]=Maximizagco e Minimizagco
Name[sk]=Minimizare .AŽºi maximizare
Name[sk]=Minimalizacia a maximalizacia
Name[tr]=Asgarile~tirme ve azamile~tirme
Comment=Configure window minimization and maximization
Comment[da]=Indstil vinduesmaksimering
Comment[de]=Verkleinern und Vergrv_ern der Fenster konfigurieren
Comment[el]=Quhl_fei tgm $(Blecistopo_gs(Bg $(Bja(Bi $(Bekawistopo_gsg(B $(Bty(Bm $(Bpaqah}qy(Bm
Comment[es]=Configura la maximizacisn de ventanas
Comment[fi]=Piilotuksen ja suurennuksen asetukset
Comment[fr]=Configure la maximisation des fenjtres
Comment[gl]=Configura-la maximizacisn das fiestras
Comment[hu]=Ablakok atmireteziskori viselkedisinek beallmtasa
Comment[it]=Configura la riduzione ad icona e l'ingrandimento delle finestre
Comment[ja]=%&%$%s%I%&:GBg2=/:G>.2=$N@_Dj
Comment[ko]=C" CV<RH-?M CV4kH- <3A$
Comment[no]=Konfigurir minimering og maksimering av vinduer
Comment[pl]=Konfiguracja minimalizacji i maksymalizacji okna
Comment[pt_BR]=Propriedades da maximizagco e minimizagco
Comment[ro]=ConfiguraŽþi minimizarea Žºi maximizarea ferestrelor
Comment[sk]=Nastavenie minimalizacie a maximalizacie okien
Comment[tr]=Pencerelerin asgarile~mesini ve azamile~mesini ayarla
Exec=sawfish-capplet --sawfish-group=min-max
Icon=sawfish-minmax.png
Terminal=0
Type=Application
