[Desktop Entry]
Name=Maximizing Windows
Name[da]=Vinduesmaksimering
Name[es]=Maximizar ventanas
Name[gl]=Maximiza-las Fiestras
Name[ja]=¥¦¥¤¥ó¥É¥¦ºÇÂç²½
Name[fr]=Maximisation des fenêtres
Comment=Configure window maximization
Comment[da]=Indstil vinduesmaksimering
Comment[es]=Configura la maximización de ventanas
Comment[gl]=Configura-la maximización das fiestras
Comment[ja]=¥¦¥¤¥ó¥É¥¦ºÇÂç²½¤ÎÀßÄê
Comment[fr]=Configure la maximisation des fenêtres
Exec=sawmill-capplet --sawmill-group=maximize
Icon=
Terminal=0
Type=Application
