[Desktop Entry]
Name=Maximizing Windows
Name[da]=Vinduesmaksimering
Name[es]=Maximizar ventanas
Name[gl]=Maximiza-las Fiestras
Name[ja]=它奶件玉它瘉釐祭
Comment=Configure window maximization
Comment[da]=Indstil vinduesmaksimering
Comment[es]=Configura la maximizaci鏮 de ventanas
Comment[gl]=Configura-la maximizaci鏮 das fiestras
Comment[ja]=它奶件玉它瘉釐祭及澀爛
Exec=sawmill-capplet --sawmill-group=maximize
Icon=
Terminal=0
Type=Application
