[Desktop Entry]
Name=Meta
Name[el]=Μετά-ρύθμισ)Bη
Name[fi]=Asetusohjelma
Name[it]=Meta-configurazione
Name[ja]=₯α₯Ώ
Name[no]=Meta
Name[pl]=Opcje
Name[pt_BR]=Meta-Propriedades
Comment=Configure window manager configuration properties
Comment[el]=Ρυθμίζει τι)Bς $)Bιδιότητε)Bς $)Bτο)Bυ $)Bδιαχειριστ)Bή $)Bπαραθύρω)Bν
Comment[fi]=Asetusohjelman asetukset
Comment[it]=Configura il programma di configurazione di Sawmill
Comment[ja]=₯³₯σ₯Υ₯£₯®₯ε₯μ‘Ό₯Ώ€Ξ UI €ΞΐίΔκ
Comment[no]=Konfigur)Bιr egenskaper for konfigurasjon av vindushεndtereren
Comment[pl]=Konfiguracja opcji dostosowania mened)BΏera okien
Comment[pt_BR]=Configura as meta-propriedades
Exec=sawfish-capplet --sawfish-no-flatten
Icon=gnome-ccdialog.png
Terminal=0
Type=Application
