[Desktop Entry]
Name=Meta
Name[fr]=Meta-configuration
Name[it]=Meta-configurazione
Name[pl]=Opcje
Comment=Configure window manager configuration properties
Comment[fr]=Configuration du configurateur de Sawfish
Comment[it]=Configura il programma di configurazione di Sawmill
Comment[pl]=Konfiguracja opcji dostosowania mened¿era okien
Exec=sawfish-capplet --sawfish-no-flatten
Icon=gnome-ccdialog.png
Terminal=0
Type=Application
