[Desktop Entry]
Name=Meta
Name[el]=Μετά-ρύθμιση
Name[fi]=Asetusohjelma
Name[it]=Meta-configurazione
Name[pl]=Opcje
Comment=Configure window manager configuration properties
Comment[el]=Ρυθμίζει τις ιδιότητες του διαχειριστή παραθύρων
Comment[fi]=Asetusohjelman asetukset
Comment[it]=Configura il programma di configurazione di Sawmill
Comment[pl]=Konfiguracja opcji dostosowania menedΏera okien
Exec=sawfish-capplet --sawfish-no-flatten
Icon=gnome-ccdialog.png
Terminal=0
Type=Application
