[Desktop Entry]
Name=Miscellaneous
Name[da]=Diverse
Name[es]=Varios
Name[gl]=Varios
Comment=Configure miscellaneous window features
Comment[da]=Indstil diverse vinduesfunktioner
Comment[es]=Configura características varias de las ventanas
Comment[gl]=Configurar diversas características das fiestras
Exec=sawmill-capplet --sawmill-group=misc
Icon=
Terminal=0
Type=Application
