[Desktop Entry]
Name=Miscellaneous
Name[da]=Diverse
Name[es]=Varios
Name[gl]=Varios
Name[ja]=¼ï¡¹»¨Â¿¤Ê¤â¤Î
Name[fr]=Divers
Name[pl]=Ró¿ne
Comment=Configure miscellaneous window features
Comment[da]=Indstil diverse vinduesfunktioner
Comment[es]=Configura características varias de las ventanas
Comment[gl]=Configurar diversas características das fiestras
Comment[ja]=¤¤¤í¤¤¤í¤Ê¥¦¥¤¥ó¥É¥¦¤ÎÆÃÄ§¤ÎÀßÄê
Comment[fr]=Configure diverses caractéristiques des fenêtres
Comment[pl]=Konfiguruj ró¿ne ustawienia okna
Exec=sawmill-capplet --sawmill-group=misc
Icon=
Terminal=0
Type=Application
