[Desktop Entry]
Name=Placement
Name[da]=Placering
Name[es]=Colocación
Name[gl]=Colocación
Name[ja]=ÇÛÃÖ
Name[fr]=Placement
Comment=Configure window placement
Comment[da]=Indstil vinduesplacering
Comment[es]=Determina cómo colocar las ventanas
Comment[gl]=Configura-la colocación das fiestras
Comment[ja]=¥¦¥¤¥ó¥É¥¦ÇÛÃÖ¤ÎÀßÄê
Comment[fr]=Configure le placement des fenêtres
Exec=sawmill-capplet --sawmill-group=placement
Icon=
Terminal=0
Type=Application
