[Desktop Entry]
Name=Sound
Comment=Enable window manager sound events
Exec=sawfish-capplet --sawfish-group=audio
Icon=gnome-multimedia.png
Terminal=0
Type=Application
