[Desktop Entry]
Name=Sound
Name[de]=Klang
Name[da]=Lydeffekter
Name[fi]=Äänet
Comment=Enable window manager sound events
Comment[de]=Klang-Ereignisse für den Fenstermanager einstellen
Comment[da]=Indstil lyde for vindueshåndterens hændelser
Comment[fi]=Ääniasetukset
Exec=sawfish-capplet --sawfish-group=audio
Icon=gnome-multimedia.png
Terminal=0
Type=Application
