[Desktop Entry]
Name=Sound
Name[cs]=Zvuk
Name[de]=Klang
Name[da]=Lydeffekter
Name[el]=¹÷ïò
Name[es]=Sonido
Name[fi]=Äänet
Name[gl]=Son
Name[hu]=Hangok
Name[it]=Suoni
Name[ja]=¥µ¥¦¥ó¥É
Name[no]=Lyd
Name[pl]=D¼wiêk
Name[pt_BR]=Sons
Name[ro]=Sunet
Name[ru]=ú×ÕËÏ×ÙÅ ÜÆÆÅËÔÙ
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sv]=Ljud
Name[tr]=Ses
Comment=Configure window manager sound events
Comment[cs]=Nastavení zvukovıch událostí správce oken
Comment[de]=Klang-Ereignisse für den Fenstermanager einstellen
Comment[da]=Indstil lyde for vindueshåndteringshændelser
Comment[el]=Åíåñãïğïéåß ôá ç÷çôéêÜ óõìâÜíôá ôïõ äéá÷åéñéóôŞ ğáñáèıñùí
Comment[es]=Activa los sonidos del gestor de ventanas
Comment[fi]=Ääniasetukset
Comment[gl]=Activar os eventos de son do xestor de fiestras
Comment[hu]=Ablakkezelõ-hangok beállításai
Comment[it]=Configura i suoni associati agli eventi del window manager
Comment[ja]=¥¦¥£¥ó¥É¥¦¥Ş¥Í¡¼¥¸¥ã¤Î¸ú²Ì²»¥µ¥İ¡¼¥È¤òÍ­¸ú¤Ë¤¹¤ë
Comment[no]=Slå på lyd for hendelser i vindushåndtereren
Comment[pl]=Aktywacja d¼wiêków systemowych
Comment[pt_BR]=Configura os sons
Comment[ro]=Activaşi sunetele managerului de ferestre pentru evenimente
Comment[ru]=îÁÓÔÒÏÊËÁ Ú×ÕËÏ×ÙÈ ÜÆÆÅËÔÏ×
Comment[sk]=Povolenie zvukovıch udalostí správcu okien
Comment[sl]=Nastavitve zvoènih dogodkov upravljalnika oken
Comment[sv]=Konfigurera fönsterhanterarens ljudhändelser
Comment[tr]=Pencere yöneticisinin ses ayarları
Exec=sawfish-capplet --sawfish-group=audio
Icon=gnome-multimedia.png
Terminal=0
Type=Application
