[Desktop Entry]
Name=Desktop Areas
Comment=Configure virtual workspaces
Exec=sawmill-capplet --sawmill-group=viewport
Icon=
Terminal=0
Type=Application
