[Desktop Entry]
Name=Workspaces
Name[da]=Skriveborde
Comment=Configure workspaces
Comment[da]=Indstil skriveborde
Exec=sawmill-capplet --sawmill-group=workspace
Icon=
Terminal=0
Type=Application
