[Desktop Entry]
Name=Workspaces
Comment=Configure desktop workspaces
Exec=sawmill-capplet --sawmill-group=workspace
Icon=
Terminal=0
Type=Application
