[Desktop Entry]
Name=Workspaces
Name[da]=Skriveborde
Name[es]=Escritorios
Name[gl]=Escritorios
Comment=Configure workspaces
Comment[da]=Indstil skriveborde
Comment[es]=Configura los escritorios
Comment[gl]=Configura-los escritorios
Exec=sawmill-capplet --sawmill-group=workspace
Icon=
Terminal=0
Type=Application
