Source: sawfish
Section: x11
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Standards-Version: 3.9.4
Build-Depends: gettext (>= 0.10.37),
               debhelper (>= 7.0.0),
               dh-autoreconf,
               libxinerama-dev,
               rep-gtk (>= 3:0.90.8.2),
               libgmp10-dev | libgmp3-dev (>= 4.1.4-8),
               texinfo,
               libgtk2.0-dev (>= 2.24.0),
               libxrender-dev,
               libxext-dev,
               libxtst-dev,
               autotools-dev,
               automake,
               autoconf,
               librep-dev (>= 0.92.4),
               rep (>= 0.92.4),
               libtool
Homepage: http://sawfish.wikia.com/

Package: sawfish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sawfish-data (= ${source:Version}), rep, rep-gtk
Provides: x-window-manager
Description: a window manager for X11
 Sawfish is an extensible window manager using an Emacs Lisp-like scripting
 language. All window decorations are configurable, the basic idea is to
 have as much user-interface policy as possible controlled through the Lisp
 language.

Package: sawfish-dbg
Architecture: any
Depends: ${misc:Depends}, sawfish (= ${binary:Version}), sawfish-data (= ${source:Version})
Recommends: sawfish-lisp-source
Section: debug
Priority: extra
Description: sawfish debugging symbols
 This package contains the debugging symbols from the sawfish window manager.
 It is not needed for normal operation of the package.
 .
 Install it if you need to debug problems in sawfish. You will also almost
 certainly need sawfish-lisp-source in that case.

Package: sawfish-data
Architecture: all
Depends: ${misc:Depends}
Description: sawfish architecture independent data
 This package contains the architecture independent lisp compiled files
 and other data, such as theme pixmaps. It is unlikely to be of any
 use without the sawfish window manager.
 .
 The lisp source files are in the sawfish-lisp-source package.

Package: sawfish-lisp-source
Architecture: all
Depends: ${misc:Depends}, sawfish-data (= ${source:Version})
Recommends: sawfish (= ${binary:Version})
Description: sawfish lisp files
 This package contains the lisp source files in case you want to modify,
 study or debug the behaviour of the window manager.
 .
 It is not required for normal use of sawfish and not installing it will save
 space in small systems.

Package: sawfish-kde5-session
Architecture: all
Depends: sawfish (= ${source:Version}), plasma-desktop
Description: KDE5 session integration for Sawfish
 This package provides a new display manager session file, that will
 start Sawfish with KDE5.
 .
 Furthermore Sawfish is integrated into SystemSettings, so can also
 be chosen from the 'Default Applications' section of SystemSettings.

Package: sawfish-kde4-session
Architecture: all
Depends: sawfish (= ${source:Version}), kde-standard | kde-full
Description: KDE4 session integration for Sawfish
 This package provides a new display manager session file, that will
 start Sawfish with KDE4.
 .
 Furthermore Sawfish is integrated into SystemSettings, so can also
 be chosen from the 'Default Applications' section of SystemSettings.

Package: sawfish-xfce-session
Architecture: all
Depends: sawfish (= ${source:Version}), xfce4-session
Description: XFCE session integration for Sawfish
 This package provides a new display manager session file, that will
 start Sawfish with XFCE

Package: sawfish-mate-session
Architecture: all
Depends: sawfish (= ${source:Version}),
         mate-desktop-environment | mate-desktop-environment-core | mint-meta-mate | mate-session
Description: MATE session integration for Sawfish
 This package provides a new display manager session file, that will
 start Sawfish with MATE.

Package: sawfish-lumina-session
Architecture: all
Depends: sawfish (= ${source:Version}), lumina-desktop
Description: Lumina session integration for Sawfish
 This package provides a new display manager session file, that will
 start Sawfish with Lumina
