[Desktop Entry]
Name=Sawfish/XFCE
Comment=Use the Sawfish window manager inside of the XFCE desktop environment
Exec=sawfish-xfce-session
TryExec=startxfce4
Type=Application
