[Desktop Entry]
Name=Sawfish/Lumina
Comment=Use the Sawfish window manager inside of the Lumina desktop environment
Exec=sawfish-lumina-session
TryExec=Lumina-DE
Type=Application
