[Desktop Entry]
Name=Sawfish/KDE4
Comment=Use the Sawfish window manager inside of the Kde desktop environment
Exec=sawfish-kde4-session
TryExec=startkde
Type=Application
