[Desktop Entry]
Name=Sawfish/MATE
Comment=Use the Sawfish window manager inside of the MATE desktop environment
Exec=sawfish-mate-session
TryExec=mate-session
Type=Application
