[Desktop Entry]
Type=Application
Name=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Exec=sawfish
ConfigExec=sawfish-config
ConfigTryExec=sawfish-config
Terminal=false
NoDisplay=true
X-GNOME-WMName=Sawfish
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
