[Desktop Entry]
Name=Sawfish/KDE5
Comment=Use the Sawfish window manager inside of the KDE5 desktop environment
Exec=sawfish-kde5-session
TryExec=startplasma-x11
Type=Application
