[Desktop Entry]
Type=Application
Name=Sawfish
Name[el]=Πριονόψαρο (Sawfish)
Exec=sawfish
GenericName=Sawfish
Categories=System;
Keywords=Window Manager
